<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button
      [class.selected]="hero === selectedHero"
      type="button"
      (click)="onSelect(hero)"
    >
      <span class="badge">{{ hero.id }}</span> &nbsp;
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }}</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label for="name">Hero name: </label>
    <input
      type="text"
      id="name"
      placeholder="name"
      [(ngModel)]="selectedHero.name"
    />
  </div>
</div>
